<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morocco Covid Tracker</title>
</head>
<body>
    <div>
        <h5>{{souss.Region}}</h5>
        <p>{{souss.Cases}}</p>
        <p>{{souss.Deaths}}</p>
        <p>{{souss.Recovered}}</p>
    </div>
    <div>
        <h5>{{daraa.Region}}</h5>
        <p>{{daraa.Cases}}</p>
        <p>{{daraa.Deaths}}</p>
        <p>{{daraa.Recovered}}</p>

    </div>
    <div>
        <h5>{{casablanca.Region}}</h5>
        <p>{{casablanca.Cases}}</p>
        <p>{{casablanca.Deaths}}</p>
        <p>{{casablanca.Recovered}}</p>

    </div>
    <div>
        <h5>{{fes.Region}}</h5>
        <p>{{fes.Cases}}</p>
        <p>{{fes.Deaths}}</p>
        <p>{{fes.Recovered}}</p>

    </div>
    <div>
        <h5>{{tanger.Region}}</h5>
        <p>{{tanger.Cases}}</p>
        <p>{{tanger.Deaths}}</p>
        <p>{{tanger.Recovered}}</p>

    </div>
    <div>
        <h5>{{rabat.Region}}</h5>
        <p>{{rabat.Cases}}</p>
        <p>{{rabat.Deaths}}</p>
        <p>{{rabat.Recovered}}</p>

    </div>
    <div>
        <h5>{{oriental.Region}}</h5>
        <p>{{oriental.Cases}}</p>
        <p>{{oriental.Deaths}}</p>
        <p>{{oriental.Recovered}}</p>

    </div>
    <div>
        <h5>{{marrakech.Region}}</h5>
        <p>{{marrakech.Cases}}</p>
        <p>{{marrakech.Deaths}}</p>
        <p>{{marrakech.Recovered}}</p>

    </div>
    <div>
        <h5>{{bennimellal.Region}}</h5>
        <p>{{bennimellal.Cases}}</p>
        <p>{{bennimellal.Deaths}}</p>
        <p>{{bennimellal.Recovered}}</p>

    </div>
    <div>
        <h5>{{eddakhla.Region}}</h5>
        <p>{{eddakhla.Cases}}</p>
        <p>{{eddakhla.Deaths}}</p>
        <p>{{eddakhla.Recovered}}</p>

    </div>
    <div>
        <h5>{{laayoun.Region}}</h5>
        <p>{{laayoun.Cases}}</p>
        <p>{{laayoun.Deaths}}</p>
        <p>{{laayoun.Recovered}}</p>

    </div>
    <div>
        <h5>{{guelmim.Region}}</h5>
        <p>{{guelmim.Cases}}</p>
        <p>{{guelmim.Deaths}}</p>
        <p>{{guelmim.Recovered}}</p>

    </div>

    
</body>
</html>